*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Chivo", sans-serif;
  background-color: rgb(18, 23, 37);
}

.container {
  max-width: 37.5rem;
  margin: 0 auto;
  background: url(../assets/mobile/image-host.jpg) no-repeat;
  position: relative;
  z-index: 1;
  padding-block: 6.2rem 9.3rem;
}
@media (min-width: 480px) {
  .container {
    max-width: 76.8rem;
    background: url(../assets/desktop/bg-pattern-dots.svg) no-repeat;
    background-position: bottom 0 left 3rem;
    padding-block: 0 25.8rem;
  }
}

.main {
  max-width: 87.2%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 480px) {
  .main {
    max-width: 76.8rem;
    background: url(../assets/tablet/image-host.jpg) no-repeat;
    background-position: top 0 right 0;
    text-align: left;
    margin-left: 3.9rem;
    padding-top: 5rem;
  }
}
.main::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(18, 23, 37, 0.9);
  z-index: -1;
}
@media (min-width: 480px) {
  .main::after {
    display: none;
  }
}
.main__logo {
  margin-bottom: 5.7rem;
}
@media (min-width: 480px) {
  .main__logo {
    margin-bottom: 15.2rem;
  }
}
@media (min-width: 480px) {
  .main__content {
    background-color: rgb(18, 23, 37);
    max-width: 63.5rem;
    display: grid;
  }
}

.header {
  margin-bottom: 3.3rem;
}
@media (min-width: 480px) {
  .header {
    margin-block: 9.3rem 4rem;
  }
}
.header__headline {
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 3.8rem;
  color: #54e6af;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}
.header__headline span {
  color: #ffffff;
}
@media (min-width: 480px) {
  .header__headline {
    font-size: 4.8rem;
    line-height: 5.6rem;
    margin-bottom: 3.1rem;
  }
}
.header__text {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #c2cbe5;
}
@media (min-width: 480px) {
  .header__text {
    font-size: 1.8rem;
    line-height: 2.8rem;
    max-width: 44.5rem;
  }
}

.partners {
  margin-bottom: 4.8rem;
}
@media (min-width: 480px) {
  .partners {
    grid-row: 4/5;
    margin-bottom: 0;
  }
}
.partners img {
  width: 100%;
}
@media (min-width: 480px) {
  .partners img {
    width: 84.41%;
  }
}

@media (min-width: 480px) {
  .cta {
    margin-bottom: 4rem;
    position: relative;
    max-width: 42.7rem;
  }
}
.cta__input {
  margin-bottom: 0.8rem;
}
@media (min-width: 480px) {
  .cta__input {
    margin: 0;
  }
}
.cta__input--input {
  padding: 0.9rem 3.2rem;
  width: 100%;
  border-radius: 3rem;
  border: none;
  background-color: #2c344b;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: 300;
  outline: none;
  margin-bottom: 0.8rem;
}
@media (min-width: 480px) {
  .cta__input--input {
    padding: 1.4rem 3.2rem;
  }
}
.cta__input--error {
  text-align: left;
  margin-left: 3.2rem;
  color: #fb3e3e;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 300;
  height: 1.2rem;
}
.cta__btn {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: rgb(18, 23, 37);
  background-color: #54e6af;
  border: none;
  border-radius: 3rem;
  padding-block: 0.9rem;
  width: 100%;
  cursor: url(../assets/Pointer.svg), auto;
  transition: all 0.2s;
}
.cta__btn:hover {
  background-color: #b3ffe2;
}
@media (min-width: 480px) {
  .cta__btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    max-width: 16.2rem;
  }
}/*# sourceMappingURL=style.css.map */